@media (max-width: 500px) {

    .titulo-principal{
    width: 100%;
    font-size: 1.4em;
    }

    .conteudo1{
        display: block;
    }

    .sobre-trabalho{
        width: 100%;
    }

    .titulo2{
        margin: 4em auto 1.3em;
    }

    .txt2{
        width: 100%;
    }

    .sub-conteudo2{
        display: block;
    }

    .ged{
        width: 100%;
        margin: 1.2em auto;
    }

    .qed{
        width: 100%;
    }

    .sub-conteudo3-2{
        display: block;
    }

    .resilia{
        width: 100%;
    }

    .wizard{
        width: 100%;
    }

    .zion{
        width: 100%;
    }

}

@media (min-width: 500px) and (max-width: 750px) {

    .titulo-principal{
        width: 100%;
        font-size: 1.4em;
        }

    .conteudo1{
        display: block;
    }

    .sobre-trabalho{
        width: 75%;
    }

    .titulo2{
        margin: 4em auto 1.3em;
    }
    
    .txt2{
        width: 100%;
    }

    .sub-conteudo2{
        display: block;
    }

    .ged{
        width: 100%;
        margin: 1.2em auto;
    }

    .qed{
        width: 100%;
    }

    .sub-conteudo3-2{
        display: block;
    }

    .resilia{
        width: 100%;
    }

    .wizard{
        width: 100%;
    }

    .zion{
        width: 100%;
    }

}

@media (min-width: 750px) and (max-width: 950px) {

    .sub-conteudo2{
        display: block;
    }

    .ged{
        width: 100%;
        margin: 1.2em auto;
    }

    .qed{
        width: 100%;
    }

    .sub-conteudo3-2{
        display: block;
    }

    .resilia{
        width: 85%;
    }

    .wizard{
        width: 85%;
    }

    .zion{
        width: 85%;
    }
    
}