body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Console';
    background-color: rgb(17, 17, 22);
}

/* Header */

.cabecalho{
    background-color: #23242e;
}

.cabecalho .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
}

.p-nome{
    font-size: 0.8em;
    font-weight: bold;
    color: #f8f8f2;
}

.assinatura{
    text-align: center;
}

.img-assinatura{
    width: 1.8em;
}

/* Conteúdo1 */

.conteudo1 .container{
    width: 65%;
    margin: 2em auto;
    color: #f8f8f2;
}

.titulo-sobre{
    text-align: left;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #ff79c6;
    border-bottom: solid 1px #ff79c6;
    padding-bottom: .7em;
}

.flex-aqui{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-titulo2{
    font-size: 1.4em;
}

.eoq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.sub-titulo2123{
    text-align: left;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #8be9fd;
    border-bottom: solid 1px #8be9fd;
    padding-bottom: .7em;
}

.ppppp{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    color: #f8f8f2;
}

.txt2{
    text-align: center;
    margin-top: 0em;
}
